{% block dc_notification_bar %}
    {% if (config('DcGlobalNotification.config.active')) %}
        <div class="row d-none m-0 notification-bar"
             data-notification-bar="true"
             data-dc-notification-bar-options='{
                "cookieExpiration": {{ DcNotification.cookieLifeTime }},
                "cookieName": "{{ page.extensions.dcNotificationCookie }}",
                "notificationType": "{{ DcNotification.displayAs }}",
                "animationType": false
             }'
             style="background-color: {{ DcNotification.backgroundColor }}; border-color: {{ DcNotification.borderColor }};">
            <div class="{% if(DcNotification.width == "full-width") %}container-fluid{% else %}container{% endif %}">
                {% block dc_notification_bar_close %}
                    <span class="close-notification" style="color: {{ DcNotification.iconColor }};">&times;</span>
                {% endblock %}

                {% if DcNotification.displayTitle %}
                    <h3 class="notification-title " style="color: {{ DcNotification.titleColor }}">{{ DcNotification.title }}</h3>
                {% endif %}
                <p class="notification-content">{{ DcNotification.content|raw }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}