{% block dc_notification_popup %}
    {% if (config('DcGlobalNotification.config.active')) %}
        <div class="notification-popup-overlay d-none"
             data-notification-bar="true"
             data-dc-notification-bar-options='{
                "cookieExpiration": {{ DcNotification.cookieLifeTime }},
                "cookieName": "{{ page.extensions.dcNotificationCookie }}",
                "notificationType": "{{ DcNotification.displayAs }}",
                "animationType": "{{ DcNotification.animationType }}"
             }'
             style="background-color: {{ DcNotification.overlayColor }};">
            <div class="notification-popup-container dc-{{ DcNotification.animationType }}">
                <div class="notification-popup-content"
                     style="background-color: {{ DcNotification.backgroundColor }};
                             border-color: {{ DcNotification.borderColor }};
                             border: {{ DcNotification.borderType }};">
                    {% block dc_notification_bar_close %}
                        <span class="close-notification" style="color: {{ DcNotification.iconColor }};">&times;</span>
                    {% endblock %}

                    {% if DcNotification.displayTitle %}
                        <h3 class="notification-title " style="color: {{ DcNotification.titleColor }}">{{ DcNotification.title }}</h3>
                    {% endif %}
                    <p class="notification-content">{{ DcNotification.content|raw }}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}